@import './base.css';

#mainNav {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

#mainNav .navbar-brand,
#mainNav .nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

#mainNav.navbar-scrolled {
  background-color: white !important;
}

#mainNav.navbar-scrolled .navbar-brand,
#mainNav.navbar-scrolled .nav-link {
  color: #000000 !important;
}